h1 {
    color: maroon;
}

#sidebar {
    width: 25%;
    background-color: bisque;
}

img {
    width: 100%;
}

















font-size;1001}























POU